:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100vh;
}

form input {
  margin: 0.5em 0 1.5em 0;
  height: 2.5em;
}

form button {
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  margin: 1em auto;
  outline: none;
  overflow: hidden;
  padding: 1em 2em;
  text-align: center;
  text-transform: none;
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
}

form button:disabled {
  cursor: default;
}

form button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 15.2rem;
}

.top {
  height: 10rem;
}


.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  color: #405cf5;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #101741;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.not-main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #101741;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}


.main-nav-link:hover,
.main-nav-link:active {
  color: #405cf5;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #405cf5;
  background-color: #101741;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #405cf5;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #405cf5;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.heading-primary {
  font-weight: 700;
  color: #405cf5;
  font-size: 5.2rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
}



@media screen and (max-width:1230px) {


  .heading-primary {
    font-size: 2.3rem;
  }

  .logo {
    margin-left: -2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 999;
    margin-right: -4.4rem;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    color: #101741;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    color: #101741;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;

  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;

  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
    color: #101741;
  }


  .main-nav-link:hover,
  .main-nav-link:active {
    color: #405cf5;
  }
}