:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100vh;
}

form input,
select {
  margin: 0.5em 0 1.5em 0;
  height: 2.5em;
}

textarea {
  margin: 0.5em 0 1.5em 0;
}

form button {
  backface-visibility: hidden;
  background-color: black;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  margin: 1em auto;
  outline: none;
  overflow: hidden;
  padding: 1em 2em;
  text-align: center;
  text-transform: none;
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
}

form button:disabled {
  cursor: default;
}

form button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Navbar */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  padding: 1.5rem 4.8rem;
  margin-bottom: 2.5rem;
}

.logo {
  height: 100%;
}

.logo-img {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top {
  height: 2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #101741;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #405cf5;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #405cf5;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.heading-primary {
  font-weight: 700;
  color: black;
  font-size: 2.5rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
}
/* Responsive Navbar */
@media screen and (max-width:1230px) {
  .heading-primary {
    font-size: 2.3rem;
  }

  .logo {
    margin-left: -2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 999;
    margin-right: -4.4rem;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link {
    font-size: 3rem;
    color: #101741;
  }

  .main-nav-link:hover {
    color: #213547;
  }
}

/* jobIem-Container CSS */
.jobcontainer {
  display: grid;
  gap: 2.5em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.jobitem {
  background-color: #f8fafc;
  gap: 2em;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2), -2px -0px 3px 0 rgba(0, 0, 0, .06);
  padding: 10px;
}

.jobitem div {
  gap: 0.8em;
  display: flex;
  justify-content: space-around;
}

#status {
  justify-content: center;
}

.jobitem img {
  height: 1.2em;
  width: 1.2em;
}

.jobcontainer-grid {
  margin-top: 5em;
  width: 80%;
}

/* Error css */
.error {
  color: red;
  margin: auto;
}

/* Modal About */
/* styles.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}